.container {
  border: 1px solid #ffffff;
  margin: 1rem 0;
  width: 400px;
  height: max-content;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.container:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
/*   
  .card_img{
    width: 100%;
  } */

.card_img img {
  width: 100%;
}
/*   
  .card_img:hover{
    
  } */

.card_detail {
  color: white;
}

.card_title {
  text-align: left;
  margin: 0.5rem 0;
  border-bottom: 1px solid #555;
  padding-bottom: 0.5rem;
}

.description {
  margin-bottom: 0.5rem;
  font-size: clamp(0.8rem, 5vw, 1rem);
  text-align: left;
}

.card_link {
  background-color: #555;
  padding: 0.2rem 0;
  display: block;
  /* margin: 0 25%; */
  /* background-color: aqua; */
  /* display: block; */
  /* text-align: center; */
}

.card_link:hover {
  /* border-radius: 5px; */
  color: white;
  background-color: #ee6c4d;
}

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
  }
}
